<h1 id="show-header">Details page for {{ race.name }}</h1>

<p id="show-miles">Miles: {{race.miles}}</p>

<p id="show-location">Location: {{race.location}}</p>

<a class="button" href="/road-races">Road Race List</a>